* {
    box-sizing: border-box;
    font-family: Arial;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

html {
    height: 100%;
}

body {
    padding: 30px;
    background-color: #acacac;
    color: white;
    width: 100%;
    height: 100%;
}

.container {
    background-color: white;
    border-radius: 4px;
    width: 40%;
    height: 60%;
}

.meme-picture { 
    width: 400px; 
    height: 230px; 
    position: relative; 
    color: white; 
    overflow: hidden;
    display: inline-block;
}
.meme-picture img { 
    width: 100%;
}

.topContainer,
.bottomContainer {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
}

.bottomContainer { 
    bottom: 10px;
}

.settings-container {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    padding: 20px 15px;
    justify-content: center;
}

input { 
    width: 70%;
    height: 8%;
    border: 1px solid grey;
    border-radius: 2px;
    margin-bottom: 12px;
    font-size: 15px;
    padding-left: 3%;
}

button { 
    cursor: pointer;
    padding: 4%;
    width: 70%;
    background-color: blueviolet;
    color: white;
    border-radius: 2px;
    font-family: Calibri;
    font-size: 1em;
}