* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    padding: 30px;
    height: 100vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.container {
    width: 700px;
    height: 400px;
    display: flex;
    padding: 40px;
    border-radius: 6px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h1 {
    color: black;
}

.inner-container {
    width: 100%;
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
}

.settings-container {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 3px;
    margin-bottom: 12px;
    font-size: 15px;
    padding: 12px;
    width: 80%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button { 
    cursor: pointer;
    padding: 12px;
    width: 80%;
    background-color: blueviolet;
    color: white;
    border-radius: 2px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.meme-picture {
    width: 100%;
    height: 200px;
    display: block;
    color: white; 
    overflow: hidden;
    position: relative; 
    align-self: center;
    display: inline-flex;
    border-radius: 3px;
    overflow: hidden;
}
.meme-picture img { 
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain
}

.topContainer,
.bottomContainer {
    position: absolute;
    right: 0;
    left: 36%;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    background-color: black;
    width: 80px;
}

.bottomContainer { 
    bottom: 0px;
}
